---
layout: default
---
<article class="page wrap">
	<header class="page__header">
		<h1 class="page__title">{{ page.title }}</h1>
	</header>

	<div class="contact__grid">
		<div class="page__content prose">
			{{ content }}
		</div>

		<aside class="contact__details">
			<dl>
				<dt>Email</dt>
				<dd><a href="mailto:{{ site.email }}">{{ site.email }}</a></dd>

				<dt>Location</dt>
				<dd>{{ site.location }}<br>By appointment</dd>

				<dt>Hours</dt>
				<dd>Tuesday&ndash;Saturday<br>By appointment</dd>
			</dl>
		</aside>
	</div>
</article>
